@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body{
    min-width: 100vh;
    background: #100e2f;
}

.sidebar{
    position: fixed;
    width: 280px;
    height: 100vh;
    padding: 20px;
    background: #0B0920;
    overflow: hidden;
    display: fl;
}

.sidebar ul{
    position: relative;
    height: 100vh;
}

.sidebar ul li{
    list-style: none;
    justify-content: center;
    margin-bottom: 20px;
}

.sidebar ul li a{
    position: relative;
    display: flex;
    align-items: center; 
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li a .icon{
    width: 60px;
    height: 60px;
    margin-right: 15px; 
    object-fit: contain;
}

.sidebar ul li a .text{
    position: relative;
    height: 60px;
    height: auto;
    display: flex;
    align-items: center;
    font-size: 28.16px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.05em;
    font-weight: 500;
}
.sidebar ul li a .text:hover{
    color: aqua;
    font-size: 35px;
}

.sidebar .logo{
    margin-bottom: 50px;
    width: 200px;
    align-items: center;

}

.sidebar .itens{
    margin-top: 100px;
}

.content{
    margin-left: 250px;
    padding: 40px;
    color: white;
}

.profile{
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.profile-img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile h1{
    font-size: 3rem;
    margin-bottom: 8px;
}

.subtitle{
    color: #cfcfcf;
    font-size: 1.1rem;
}

.profile p{
    margin-top: 25px;
    line-height: 1.8;
    color: #d9d9d9;
    font-size: 1.05rem;
}